<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="ACCESS_LOG_FILE"
                    source="app.access-log.file"
                    defaultValue="logs/access.log"/>

    <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${ACCESS_LOG_FILE}</file>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.septeo.ulyses.technical.test.logging.AccessLogFilter"
            level="INFO"
            additivity="false">
        <appender-ref ref="ACCESS_LOG_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
